extends ../layout 

block content 
    h1 Add new Record
    form(action="/cars/add",method="post")
        .form-group
            label(for="name") Car Name
            input#name(type="text",class="form-control",name="name")
        .form-group    
            label(for="price") Car Price
            input#price(type="text",class="form-control",name="price")
        .form-group
            label(for="model") Car Model
            input#model(type="text",class="form-control",name="model")  
        input(type="submit", class="btn btn-info")