extends ../layout 

block content 
    h1 Edit Record
    form(action="/cars/edit/"+car._id,method="post")
        .form-group
            label(for="name") Car Name
            input#name(type="text",class="form-control",name="name" value=car.name)
        .form-group    
            label(for="price") Car Price
            input#price(type="text",class="form-control",name="price" value=car.price)
        .form-group
            label(for="model") Car Model
            input#model(type="text",class="form-control",name="model" value=car.model)  
        input(type="submit", class="btn btn-info")